services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  GeorgRinger\LoginLink\:
    resource: '../Classes/*'

  GeorgRinger\LoginLink\Repository\LoginLinkRepository:
    public: true

  GeorgRinger\LoginLink\Service\TokenGenerator:
    public: true

  GeorgRinger\LoginLink\Service\Validation:
    public: true

  GeorgRinger\LoginLink\Controller\TokenController:
    public: true

  GeorgRinger\LoginLink\EventListener\ModifyRecordListRecordActionsEventListener:
    tags:
      - name: event.listener
        identifier: 'ext-loginlink/modify-recordlist'
        event: TYPO3\CMS\Recordlist\Event\ModifyRecordListRecordActionsEvent
        method: 'modifyRecordActions'
